<template>
  <form>
    <div class="form-group col-md-6">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" value.to-view="email" readonly>
    </div>
    <div class="form-group col-md-6">
      <label for="phone">Phone Number</label>
      <input type="number" class="form-control tel" id="phone" value.bind="phone">
    </div>
    <button type="button" class="btn btn-primary" click.delegate="onSave()">Save</button>
    <button type="button" class="btn btn-warning" click.delegate="onDiscard()">Reset</button>
  </form>
</template>
